



  

.container{
    
  display: block;
}
.textboxs{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  
  
}
.textbox{
  
  
  
  margin-left: 20px;
  
}
textarea{
  width: 600px;
  margin-left: 20px;
  box-shadow: inset;
  border: none;
  background-color: gainsboro;
}

select{
  width: 600px;
  margin-left: 20px;
  margin-bottom: 20px;
}
