<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="headder">
	
		Ứng dụng dịch văn bằng Amazon Translate
	
</div>
<div class="textboxs">
	<div class="textbox">
		<div class="custom-select" style="width:200px;">
			<div class="bloc">
			<select [(ngModel)]="SourceTranslate" value='vi' >
				<!-- <option value="en">english</option>
				<option value="vi">vietnam</option>
				<option value="sk">slovakia</option> -->
				<option *ngFor='let NN of language' [value]="NN.value">{{NN.text}}</option>
			</select>
			</div>
		  </div>
		  <textarea  class="form-control" id='Text' rows="10" #box (keyup.enter)="Translate(box.value)" placeholder="Enter Your Text"></textarea>
	</div>
	<div class="textbox">
		<div class="custom-select" style="width:200px;">
			<select [(ngModel)]="Targettranslate"  >
				<!-- <option value="en">english</option>
				<option value="vi">vietnam</option>
				<option value="sk">slovakia</option> -->
				<option *ngFor='let NN of language' [value]="NN.value">{{NN.text}}</option>
			</select>
		  </div>
		  <textarea  class="form-control" id='Text'rows="10" #box  placeholder="Enter Your Text" readonly>{{translateText}}</textarea>
	</div>
	
</div>
<button class="center" style="text-align: center;margin-left: 18.5%; margin-top: 15px;" (click)=Translate(box.value)>Dịch</button>
